/*-----------------------------------
Aquí irán las Media Queries Generales
-----------------------------------*/



/*---------------------------------------------------------------------------------
Aquí comienza "index.html"
---------------------------------------------------------------------------------*/

/*-------------------------------------------------
Aquí comienza "Header"
-------------------------------------------------*/
/* Media query para dispositivos móviles (320px) */

/* Funcionando en "Header principal"             */

@media screen and (max-width: 425px)
{
  .header_N1
  {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-container
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
  }

  .header_N1 img
  {
    margin-right: 5px;
  }

  .header_N1 .boton_login1
  {
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 20px;
  }
}

/* Funcionando en "Header principal 1.1"          */

@media screen and (max-width: 425px)
{
  .header_N1_1 {
    display: flex;
    justify-content:left;
  }

  .header_N1_1 a.boton_login2
  {
    display: none;
  }

  .header_N1_1 #logo_UNI
  {
    display: none;
  }

  .header_N1_1 #logo_NBO
  {
    width: 140px;
    height: auto;
    margin-right: 10px;
  }

  .header_N1_1 #logo_NBO, .header_N1_1 .boton_register1
  {
    display: inline-block;
  }
}

/*------------------------------------
Aquí comienza "Main"
------------------------------------*/


/*------------------------------------
Aquí comienza "Main"
------------------------------------*/
/* Media query para dispositivos móviles (320px) */

/* Funcionando en "Main"                         */

@media screen and (max-width: 425px)
{
  .divisor
{
  height: 3px;
  max-width: 160px;
  padding: 30px;
  margin-top: 55px;
  margin-bottom: 35px;
  align-items: center;
}

  .main .contenido1
  {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main .main_imagen1
  {
    order: -1;
  }

  .main .main_imagen1 img
  {
    width: 280px;
    height: auto;
    margin-bottom: -50px;
  }

    .main .contenido_P1
  {
    text-align: center;
    font-size: 20px;
    margin:auto;
    padding: 18px;
    order: 0;
  }

  .main .contenido_P1 p
  {
    margin-top: 50px;
    font-size: 18px;
    margin-bottom: 60px;
  }

  .main .boton_register2
  {
    font-size: 20px;
    margin: auto;
  }

  .main .contenido_P2
  {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 18px;
    margin-top: -90px;
  }

  .main .contenido_P2 p
  {
    margin-top: 50px;
    font-size: 18px;
    margin-bottom: 60px;
  }

  .main .contenido_P2_2 img
  {
    width: 280px;
    height: auto;
    margin-top: -110px;
  }

  .main .contenido_P2_2
  {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 18px;
  }

  .main .contenido_P2_2 p
  {
    margin-top: 50px;
    font-size: 18px;
    margin-bottom: -20px;
  }

  .main .contenido3
  {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 18px;
    margin-top: -80px;
  }

  .main .contenido3 p
  {
    margin-top: 50px;
    font-size: 18px;
    margin-bottom: -30px;
  }

  .main .contenido4
  {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 18px;
    margin-top: -80px;
  }

  .main .contenido_P4_4
  {
    margin-top: 60px;
    margin-bottom: -30px;
  }
}

/*------------------------------------
Aquí comienza "Footer"
------------------------------------*/
/* Media query para dispositivos móviles (320px) */

/* Funcionando en "Footer"                       */
@media screen and (max-width: 425px)
{

  .footer-imagenP
  {
    display: none;
  }

  .footer
  {
    flex-direction: column;
    align-items:start;
    text-align:left;
  }

  .footer-imagenS
  {
    display: block;
    flex-direction: column;
    align-items:start;
    text-align:left;
    background-color: #D3BEE0;
    margin-bottom: -1px;
  }

  .footer-imagenS img
  {
    width: 260px;
    height: auto;
    padding: 20px 20px 30px 20px;
  }

  .footer .footerP1
  {
    margin-top: 40px;
    margin-left: 15px;
    list-style: none;
    margin-bottom: 30px;
  }

  .footerP2{
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .footer-derechos
  {
    flex-direction: column;
    align-items: start;
    text-align:left;
    background-color: #b89dc0;
  }

  .divisorF
  {
    border: 1px solid #f1f1f1;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
/*---------------------------------------------------------------------------------
Aquí termina "index.html"
---------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------
Aquí comienza "prueba.html"
---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------
Aquí termina "prueba.html"
---------------------------------------------------------------------------------*/