body
{
  background-color:#f1f1f1;
  padding: 0;
  margin: 0;
}



/*---------------------------------------------------------------------------------
Aquí comienza el Header. 
---------------------------------------------------------------------------------*/

.header_N1
{
  background-color: #D3BEE0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.header_N1 img
{
  padding: 12px 0px 12px 12px;
}

.header_N1 .boton_login1
{
  border: 2px solid white;
  border-radius: 12px;
  background-color: white;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  text-decoration: none;
  right: 0;
  margin-right: 40px;
  margin-left: auto;
}

.boton_login1:hover{
  background-color: #b89dc0;
  color: white;
}

/*--------------------------------------------
Header Oculto 
--------------------------------------------*/
    .header_N1_1 {
    position: fixed;
    background-color: #D3BEE0;
    top: -100px;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    z-index: 100;
    transition: top 0.4s ease-in-out; 
    }

    .header_N1_1 img
    {
      padding: 12px 0px 12px 12px;
    }

  .header_N1_1 .boton_login2
  {
    border: 2px solid white;
    border-radius: 12px;
    background-color: white;
    color: black;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    right: 0;
    margin-right: 40px;
    margin-left: auto;
  }

  .boton_login2:hover
  {
    background-color: #b89dc0;
    color: white;
  }

  .header_N1_1 .boton_register1
  {
    border: 2px solid white;
    border-radius: 12px;
    background-color: #b89dc0;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    right: 0;
    margin-right: 40px;
  }

  .boton_register1:hover
  {
    background-color: white;
    color: black;
  }

/*---------------------------------------------------------------------------------
Aquí termina el Header
---------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------
Aquí empieza el Main
---------------------------------------------------------------------------------*/

.main
{
  background-color: #f1f1f1;
  left: 0;
  right: 0;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Roboto Slab', serif;
}

.divisor
{
  border-top: 2px solid black;
  height: 3px;
  max-width: 900px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.main .contenido1
{
  margin-top: 40px;
  display: flex;
}

.main .contenido_P1
{
  position: relative;
  align-items:start;
  text-align:justify;
  margin: 50px;
  font-size: 28px;
}

.main .contenido1 img
{
  margin-right: 5px;
}

.main .boton_register2
{
  border: 2px solid black;
  border-radius: 12px;
  background-color: #b89dc0;
  color: black;
  padding: 12px 24px ;
  font-size: 20px;
  text-decoration: none;
  margin-left: 520px;
}

.boton_register2:hover
{
  background-color: white;
  color: black;
  border: 2px solid #b89dc0;
}

.main .contenido_P2
{
  position: relative;
  text-align: center;
  padding: 0px 150px 0px 150px;
  font-size: 28px;
}

.main .contenido_P2_2
{
  display: flex;
  position: relative;
  align-items:start;
  text-align:end;
  margin: 60px;
  font-size: 28px;
}

.main .contenido_P2_2 img
{
  margin-right: 0px;
}

.main .contenido3
{
  position: relative;
  text-align: justify;
  align-items: center;
  padding: 0px 150px 0px 150px;
  font-size: 28px;
  margin-bottom: 80px;
}

.main .contenido_P3
{
  text-align: center;
}

.main .contenido4
{
  position: relative;
  text-align: justify;
  align-items: center;
  padding: 0px 150px 0px 150px;
  font-size: 28px;
  margin-bottom: 80px;
}

.main .contenido_P4
{
  text-align: center;
}

.main .boton_register3
{
  border: 2px solid black;
  border-radius: 12px;
  background-color: #b89dc0;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  text-decoration: none;
}

.boton_register3:hover
{
  background-color: white;
  color: black;
  border: 2px solid #b89dc0;
}

/*---------------------------------------------------------------------------------
Aquí termina el Main
---------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------
Aquí empieza el Footer
---------------------------------------------------------------------------------*/

.footer
{
  position: relative;
  left: 0;
  right: 0;
  background-color: #D3BEE0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
}

.footer-imagenP 
{
  margin-left: 30px;
}

.footer-imagenS
{
  display: none;
}

.footer .footerP1
{
  margin-left: 350px;
  list-style: none;
  flex: 1;
}
.footer .footerP1 li
{
  margin-bottom: 15px; 
}
.footer .footerP1 h2
{
  margin-bottom: 25px;
}
.footer .footerP1 .etiqueta
{
  margin-top: -15px;
}

.footer .footerP2
{
  list-style: none;
  flex: 1;
}
.footer .footerP2 li
{
  margin-bottom: 15px; 
  flex-direction: row;
}
.footer .footerP2 h2
{
  margin-bottom: 25px;
  flex-direction: row;
}

.footer .footer-R
{
  color: #7e2b64;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-derechos
{
  background-color: #b89dc0;
  position: absolute;
  left: 0;
  right: 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

/*---------------------------------------------------------------------------------
Aquí termina el Footer
---------------------------------------------------------------------------------*/